<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Евгений Онегин</title>
</head>
<body>
<h1>Евгений Онегин</h1>
<img src="https://briefly.ru/static/cache/illustrations/720/190.jpeg?1664751033"
     alt="Изображение Онегина"/><br>
<p>
    <div>
    Всем привет! Я <a href="https://ru.wikipedia.org/wiki/%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9_%D0%9E%D0%BD%D0%B5%D0%B3%D0%B8%D0%BD">
    Евгений Онегин</a>, и я <strong>люблю женские ножки</strong>!
    </div>
    <br>
    <div>
        <em>Мне памятно другое время!<br>
            В заветных иногда мечтах<br>
            Держу я счастливое стремя...<br>
            И ножку чувствую в руках;<br>
            Опять кипит воображенье,<br>
            Опять ее прикосновенье<br>
            Зажгло в увядшем сердце кровь,<br>
            Опять тоска, опять любовь!..<br>
            Но полно прославлять надменных<br>
            Болтливой лирою своей;<br>
            Они не стоят ни страстей,<br>
            Ни песен, ими вдохновенных:<br>
            Слова и взор волшебниц сих<br>
            Обманчивы... как ножки их.</em>
    </div>

</p>


</body>
</html>